h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

img {
  width: auto;
  height: 100%;
}

#informations, #formation {
  color: #000;
}

#competences, #exp-pro {
  color: #fff;
}

#social {
  flex-basis: 100%;
}

#presentation p {
  max-width: 70%; 
  align-self: center;
}

#social img {
  width: 2em;
}

#title {
  height: 10vh;
}

#title h1 {
  color: white;
  text-align: center;
  line-height: 9vh;
  font-size: 2em;
}

#photo {
  height: 20vh;
  justify-self: center;
}

section header {
  text-align: center;
}

.comp p {
  text-align: center;
}

.exp-info {
  max-width: 80%;
  text-align: center;
}
